@import 'nib'
@import 'jeet'
color-detail = #A8A8A8
body
  background: #ccc
  font-weight: bold
  font-family: arial
  font-size: 14px

.layout-page
  background: #fff
  center(320px)
  padding: 1em

.page-title,
.page-subtitle
  text-align: center

.page-subtitle
  color: #ccc
  margin-top: 0

.page-title
  margin-bottom: 0.25em

.transaction
  margin: 0.4em 0
  padding: 0.6em 0.6em 1em
  color: #000
  border-bottom: 1px solid #EEE
  cursor: pointer

.transaction:hover
  background: #f1f1f1

.transaction-body
  cf()

.transaction-total
  color: #ccc

.transaction-date
  color: color-detail
  font-weight: 400

.transaction-body-column
  span(1/2, cycle: 2)

.transaction-amount
  .is-income &
    color: #74B415
  .is-expense &
    color: #F5450E

.transaction-amount,
.transaction-total
  text-align: right
  &:after
    content: 'kr'
    display: inline

.transaction-tags
  margin-top: 0.5em

.transaction-tag
  display: inline-block
  border-radius: 0.15em
  margin-right: 0.25em 
  padding: 0.15em 0.5em
  background: #ccc
  color: #fff
