h1.page-title Transaktioner

if transactions
  .transactions: each item in transactions
    .transaction(class="is-#{ item.type }")
      .transaction-body
        .transaction-name= item.name
        .transaction-amount
          span.transaction-amount-value= item.amount
      .transaction-meta
        .transaction-date= item.date
